<div class="container text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active mr-3 ml-3">
            <a class="nav-link" href="/create/name">Name & Bio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mr-3 ml-3">
            <a class="nav-link" href="/create/order">Order</a>
          </li>
          <li class="nav-item mr-3 ml-3">
            <a class="nav-link" href="/create/heart">Heart</a>
          </li>
          <li class="nav-item mr-3 ml-3">
            <a class="nav-link" href="/create/forte">Forte</a>
          </li>
          <li class="nav-item mr-3 ml-3">
            <a class="nav-link" href="/create/soul">Soul</a>
          </li>
          <li class="nav-item mr-3 ml-3">
            <a class="nav-link" href="/create/foundation">Foundation</a>
          </li>
          <li class="nav-item mr-3 ml-3">
            <a class="nav-link" href="/create/house">House</a>
          </li>
          <li class="nav-item mr-3 ml-3">
            <a class="nav-link" href="/create/finish">Finish</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>