<div class="card">
    <p>Name, a Sentence</p>
    <form action="">
        <ul>
            <li>Biography</li>
            <li>Appearance</li>
            <li>Order details</li>
            <li>Skills</li>
            <li>Pools</li>
            <li>Forte Ability</li>
            <li>Soul</li>
            <li>Foundation</li>
            <li>Bonds</li>
            <li>House</li>
        </ul>
        <a href="" class="btn btn-primary">Finish</a>
    </form>
</div>