

<div class="container">
    <form action="">
        <div class="container mb-3" id="chooseBonds">
            <h2>Choose your Bonds</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">PC Bonds</h3>
                    <p class="card-text">
                        <li class="row d-flex align-items-baseline justify-content-between">
                            <div class="col"><input type="text" id="" class="form-control"></div>
                            <div class="col-1">is a(n)</div>
                            <select class="custom-select col">
                                    <option value="defaultpcbond">PC bond</option>
                                    <option value="close criend ">Close Friend</option>
                                    <option value="fated companion ">Fated Companion</option>
                                    <option value="fellow student ">Fellow Student</option>
                                    <option value="friend from the past ">Friend from the Past</option>
                                    <option value="housemate ">Housemate</option>
                                    <option value="lover ">Lover</option>
                                    <option value="mystic bond">Mystic Bond</option>
                                    <option value="relative ">Relative</option>
                                    <option value="rival ">Rival</option>
                                    <option value="shadow friend ">Shadow Friend</option>
                                    <option value="steward ">Steward</option>
                                    <option value="charge ">Charge</option>
                                    <option value="unrequited">Unrequited Bond</option>
                            </select>
                            <div class="col-1"><button class="btn btn-primary">+</button></div>
                        </li>
                    </p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">NPC Bonds</h3>
                    <p class="card-text">
                        <li class="row d-flex align-items-baseline">
                            <div class="col"><input type="text" id="" class="form-control"></div>
                            <div class="col-1">is a(n)</div>
                            <select class="custom-select col-6">
                                <option value="defaultnpcbond">NPC bond</option>
                                <option value="associate ">Associate</option>
                                <option value="contact ">Contact</option>
                                <option value="friend ">Friend</option>
                                <option value="old friend ">Old Friend</option>
                                <option value="lover ">Lover</option>
                                <option value="relative ">Relative</option>
                                <option value="surrogate family member ">Surrogate Family</option>
                            </select>
                            <div class="col-1"><button class="btn btn-primary">+</button></div>
                        </li>
                    </p>
                </div>
            </div>
        </div>
        
        <div id="chooseFoundation" class="container">
            <h2>Choose your Foundation</h2>
    
            <div id="bizarre" class="card mb-3">
                <a href="#bizarreInfo" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="bizarreInfo">
                    <div class="card-header">
                    <h3>Bizarre</h3>
                    </div>
                </a>
    
                <ul class="collapse list-group list-group-flush" id="bizarreInfo">
                    <li class="list-group-item"><b>Other Names:</b> Magician, wizard, mage, book mage.</li>
                    <li class="list-group-item">Quick to potent action, you react with strength and emotion, a veritable force of nature all on yourvance own. At times, people might consider you short-tempered or even choleric in temperament. Your senses are what you trust.</li>
                    <li class="list-group-item">
                        <b>Family:</b> Notions
                    </li>
                    <li class="list-group-item">
                        <b>Animal: </b> Cats
                    </li>
                    <li class="list-group-item">
                        <b>Object:</b> Mirrors
                    </li>
                    <li class="list-group-item"><label for="bizarreSelect"><input value="bizarre" id="bizarreSelect" type="radio" name="foundationSelect"
                    class="selectButton">Choose</label></li>
                </ul>
            </div>
        </div>
        
        <button class="btn btn-primary">House</button>
    </form>
</div>