<div id="chooseHeart" class="container form-group mb-3">
    <div id="ardent" class="card">
        <div class="card-header" id="ardentLabel">
            <h3>
                <img src="https://i.imgur.com/FzAduSp.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#ardentInfo" aria-expanded="true" aria-controls="collapseOne">
                    Ardent
                  </button>
            </h3>
        </div>
        <div id="ardentInfo" class="collapse" aria-labelledby="ardentLabel" data-parent="#chooseHeart">
            <div class="card-body">
                
                ardent stuff
                
            </div>
        </div>
    </div>
    
    <div id="empath" class="card">
        <div class="card-header" id="empathLabel">
            <h3>
                <img src="https://i.imgur.com/Q2m9z4P.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#empathInfo" aria-expanded="true" aria-controls="collapseOne">
                    Empath
                  </button>
            </h3>
        </div>
        <div id="empathInfo" class="collapse" aria-labelledby="empathLabel" data-parent="#chooseHeart">
            <div class="card-body">empath stuff</div>
        </div>
    </div>
    
    <div id="galant" class="card">
        <div class="card-header" id="galantLabel">
            <h3>
                <img src="https://i.imgur.com/nlYuMnP.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#galantInfo" aria-expanded="true" aria-controls="collapseOne">
                    Galant
                  </button>
            </h3>
        </div>
        <div id="galantInfo" class="collapse" aria-labelledby="galantLabel" data-parent="#chooseHeart">
            <div class="card-body">galant stuff</div>
        </div>
    </div>
    
    <div id="stoic" class="card">
        <div class="card-header" id="stoicLabel">
            <h3>
                <img src="https://i.imgur.com/o5iXtqI.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#stoicInfo" aria-expanded="true" aria-controls="collapseOne">
                    Stoic
                  </button>
            </h3>
        </div>
        <div id="stoicInfo" class="collapse" aria-labelledby="stoicLabel" data-parent="#chooseHeart">
            <div class="card-body">goetic stuff</div>
        </div>
    </div>
    
</div>

<div class="container mb-3">
    <h2>Customize Pools</h2>
    <div class="card" id="certes">
        <div class="card-body row">
            <h3 class="card-title">Certes</h3>
            <div class="card col-3">
                <div class="card-body">
                    <h4 class="card-title">Accuracy</h4>
                    <p>Description</p>
                    <div class="btn-group">
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-primary">-</button>
                    </div>
                </div>
            </div>
            <div class="card col-3">
                <div class="card-body">
                    <h4 class="card-title">Movement</h4>
                    <p>Description</p>
                    
                    <div class="btn-group">
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-primary">-</button>
                    </div>
                </div>
            </div><div class="card col-3">
                <div class="card-body">
                    <h4 class="card-title">Perception</h4>
                    <p>Description</p>
                    <div class="btn-group">
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-primary">-</button>
                    </div>
                </div>
            </div><div class="card col-3">
                <div class="card-body">
                    <h4 class="card-title">Physicality</h4>
                    <p>Description</p>
                    <div class="btn-group">
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-primary">-</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="qualia" class="card">
        <div class="card-body row">
            <h3 class="card-title">Qualia</h3>
            <div class="card col-3">
                <div class="card-body">
                    <h4 class="card-title">Intellect</h4>
                    <p>Description</p>
                    <div class="btn-group">
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-primary">-</button>
                    </div>
                </div>
            </div>
            <div class="card col-3">
                <div class="card-body">
                    <h4 class="card-title">Interaction</h4>
                    <p>Description</p>
                    <div class="btn-group">
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-primary">-</button>
                    </div>
                </div>
            </div><div class="card col-3">
                <div class="card-body">
                    <h4 class="card-title">Sorcery</h4>
                    <p>Description</p>
                    <div class="btn-group">
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-primary">-</button>
                    </div>
                </div>
            </div><div class="card col-3">
                <div class="card-body">
                    <h4 class="card-title">Sortilege</h4>
                    <p>Description</p>
                    <div class="btn-group">
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-primary">-</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>