<ul class="list-group list-group-flush">
    <li class="list-group-item mb-3"><b>Other Names:</b> Magician, wizard, mage, book mage.</li>
    <li class="list-group-item mb-3">Perhaps the most mathematical and studious of the vislae, we Vances cast powerful, predictable, and reliable spells. Vancian spells have a mathematical and linguistic intricacy to them. This precision is displayed visually in the game with a special set of cards of varying sizes. These cards offer all the spell’s details, and also indicate how much of a Vance’s mental capacity is required to hold it. All the various spells fit together in a diagram like pieces of a puzzle, arranged as the Vance sees fit. Swapping out one spell for another is easy if they’re the same “size,” but if they are different, some monkeying with the arrangement might be in order. Of course, over time we can increase our capacity and hold more (or larger) spells in their arrangement.</li>
    <li class="list-group-item mb-3">
        <b>Path to Joy:</b> The following actions give us Joy.
        <ul class="list-group mt-3 mb-3">
            <li class="list-group-item">Learn a spell of a level higher than any we’ve yet learned.</li>
            <li class="list-group-item">Attend the Conclave of Iov for the first time.</li>
            <li class="list-group-item">Create a new Vancian spell (and name it after yourself ).</li>
            <li class="list-group-item">Learn a spell from the Vancian who created it (assuming they are higher ranking than you).</li>
            <li class="list-group-item">Spend one month instructing lower-ranking Vancians.</li>
        </ul>
        <b>Path to Despair:</b> The following actions give us Despair.
        <ul class="list-group mt-3 mb-3">
            <li class="list-group-item">Chastisement from a higher-ranking Vancian.</li>
            <li class="list-group-item">A spell producing a different effect than expected (this does not mean failure, just acompletely different effect than described).</li>
            <li class="list-group-item">Complete separation from the order and any of its members for more than three months.</li>
        </ul>
    </li>
</ul>





-----------


<div id="chooseOrder" class="container form-group">
    <h2>Choose your Order</h2>
    
    <div id="vance" class="card mb-3">
        <div class="card-header">
            <h3>
                <button class="btn btn-link" data-toggle="collapse" data-target="#vanceInfo" aria-expanded="true" aria-controls="collapseOne">
                    Vance
                  </button>
            </h3>
        </div>

                <div class="collapse card" id="vanceInfo">
                    
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item mb-3"><b>Other Names:</b> Magician, wizard, mage, book mage.</li>
                            <li class="list-group-item mb-3">Perhaps the most mathematical and studious of the vislae, we Vances cast powerful, predictable, and reliable spells. Vancian spells have a mathematical and linguistic intricacy to them. This precision is displayed visually in the game with a special set of cards of varying sizes. These cards offer all the spell’s details, and also indicate how much of a Vance’s mental capacity is required to hold it. All the various spells fit together in a diagram like pieces of a puzzle, arranged as the Vance sees fit. Swapping out one spell for another is easy if they’re the same “size,” but if they are different, some monkeying with the arrangement might be in order. Of course, over time we can increase our capacity and hold more (or larger) spells in their arrangement.</li>
                            <li class="list-group-item mb-3">
                                <b>Path to Joy:</b> The following actions give us Joy.
                                <ul class="list-group mt-3 mb-3">
                                    <li class="list-group-item">Learn a spell of a level higher than any we’ve yet learned.</li>
                                    <li class="list-group-item">Attend the Conclave of Iov for the first time.</li>
                                    <li class="list-group-item">Create a new Vancian spell (and name it after yourself ).</li>
                                    <li class="list-group-item">Learn a spell from the Vancian who created it (assuming they are higher ranking than you).</li>
                                    <li class="list-group-item">Spend one month instructing lower-ranking Vancians.</li>
                                </ul>
                                <b>Path to Despair:</b> The following actions give us Despair.
                                <ul class="list-group mt-3 mb-3">
                                    <li class="list-group-item">Chastisement from a higher-ranking Vancian.</li>
                                    <li class="list-group-item">A spell producing a different effect than expected (this does not mean failure, just acompletely different effect than described).</li>
                                    <li class="list-group-item">Complete separation from the order and any of its members for more than three months.</li>
                                </ul>
                            </li>
                            <li class="list-group-item"><label for="vanceSelect"><input value="vance" id="vanceSelect" type="radio" name="orderSelect"
                            class="selectButton">Choose</label>
                            </li>
                        </ul>
                    
                </div>
    </div>
    <div id="maker" class="card mb-3">
        
    </div>
    <div id="weaver" class="card mb-3"></div>
    <div id="goetic" class="card mb-3"></div>
    <div id="apostate" class="card mb-3"></div>
</div>

<div class="container form-group" id="customizeOrder">
    <div id="customizeVance" class="container"></div>
    <div id="customizeMaker" class="container"></div>
    <div id="customizeWeaver" class="container"></div>
    <div id="customizeGoetic" class="container"></div>
    <div id="customizeApostate" class="container"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
