<div id="chooseOrder" class="container form-group">
    <div id="vance" class="card">
        <div class="card-header" id="vanceLabel">
            <h3>
                <img src="https://i.imgur.com/LA4QUua.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#vanceInfo" aria-expanded="true" aria-controls="collapseOne">
                    Vance
                  </button>
            </h3>
        </div>
        <div id="vanceInfo" class="collapse" aria-labelledby="vanceLabel" data-parent="#chooseOrder">
            <div class="card-body">
                
                Vance stuff
                
            </div>
        </div>
    </div>
    
    <div id="maker" class="card">
        <div class="card-header" id="makerLabel">
            <h3>
                <img src="https://i.imgur.com/JcznKfH.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#makerInfo" aria-expanded="true" aria-controls="collapseOne">
                    Maker
                  </button>
            </h3>
        </div>
        <div id="makerInfo" class="collapse" aria-labelledby="makerLabel" data-parent="#chooseOrder">
            <div class="card-body">maker stuff</div>
        </div>
    </div>
    
    <div id="weaver" class="card">
        <div class="card-header" id="weaverLabel">
            <h3>
                <img src="https://i.imgur.com/b1fSUqM.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#weaverInfo" aria-expanded="true" aria-controls="collapseOne">
                    Weaver
                  </button>
            </h3>
        </div>
        <div id="weaverInfo" class="collapse" aria-labelledby="weaverLabel" data-parent="#chooseOrder">
            <div class="card-body">weaver stuff</div>
        </div>
    </div>
    
    <div id="goetic" class="card">
        <div class="card-header" id="goeticLabel">
            <h3>
                <img src="https://i.imgur.com/Kp1xJKM.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#goeticInfo" aria-expanded="true" aria-controls="collapseOne">
                    Goetic
                  </button>
            </h3>
        </div>
        <div id="goeticInfo" class="collapse" aria-labelledby="goeticLabel" data-parent="#chooseOrder">
            <div class="card-body">goetic stuff</div>
        </div>
    </div>
    
    <div id="apostate" class="card">
        <div class="card-header" id="apostateLabel">
            <h3>
                <img src="https://i.imgur.com/w6OlHGr.png" style="height: 50px; width: 50px" class="img-fluid icon" alt=":(">
                <button class="btn btn-link" data-toggle="collapse" data-target="#apostateInfo" aria-expanded="true" aria-controls="collapseOne">
                    Apostate
                  </button>
            </h3>
        </div>
        <div id="apostateInfo" class="collapse" aria-labelledby="apostateLabel" data-parent="#chooseOrder">
            <div class="card-body">apostate stuff</div>
        </div>
    </div>
</div>

<div class="container form-group" id="customizeOrder">
    <div id="customizeVance" class="container"></div>
    <div id="customizeMaker" class="container"></div>
    <div id="customizeWeaver" class="container"></div>
    <div id="customizeGoetic" class="container"></div>
    <div id="customizeApostate" class="container"></div>
</div>